@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: block;
}

.pagination-component {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mobile-styles() {
  .page-item {
    display: none;

    &.active,
    &:first-child,
    &:last-child {
      display: list-item;

      .page-link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        height: 40px;
        border-radius: 3px;
      }
    }

    &.active {
      margin: 0 9px;
    }

    &:first-child .page-link {
      width: 100px;

      &:after {
        content: 'Previous';
        margin-left: 4px;
      }
    }

    &:last-child .page-link {
      width: 100px;

      &:before {
        content: 'Next';
        margin-right: 4px;
      }
    }
  }
}

:host ::ng-deep .pagination {
  margin: 0;

  .page-item {

    &.active {
      a {
        border: 1px solid #4880ca;
        color: #ffffff;
        background-image: linear-gradient(to bottom, #5a91db, #4880ca);
      }
    }

    .page-link {
      padding: 5px 15px;
      font-size: 14px;
      letter-spacing: -0.3px;
      color: #222222;
    }
  }

  @media screen and (max-width: $break-point-mobile) {
    @include mobile-styles();
  }
}

:host(.mobile) ::ng-deep .pagination {
  @include mobile-styles();
}
