@import "certemy-shared/projects/theme/styles/mixins";

:host {
  display: inline-block;
  width: 100%;
}

//
//:host(.is-invalid) {
//  .form-control {
//    @include is-invalid();
//  }
//}
//
//:host(.is-editable) {
//  .form-control {
//    @include is-editable();
//
//    &::placeholder {
//      font-style: italic;
//    }
//  }
//}

:host {
  display: flex;
  align-items: center;
}

.minus:after {
  content: "-";
  display: inline-block;
  margin: 0 4px;
}
