<span class="action-tab"
      *ngFor="let tab of tabs"
      [ngClass]="{'disabled': disabled || tab.disabled, 'active': tab.id === activeTabId}"
      (click)="onTabsChange(tab.id)">
  {{tab.display}}<i *ngIf="tab.tooltip" class="fa fa-question-circle"
                    [ngbTooltip]="tab.tooltip"></i>
</span>
