@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: flex;
}

.action-tab {
  display: block;
  height: 39px;
  padding: 10px 40px;
  margin: 0;
  border: none;
  border-bottom: solid 3px #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #bbb;
  cursor: pointer;

  &.active, &:hover {
    border-color: $color-blue;
    background: transparent;
    color: $color-text-primary;
    text-decoration: none;
  }

  &.disabled {
    pointer-events: none;
  }

  .fa-question-circle {
    margin-left: 3px;
  }
}
