@import "certemy-shared/projects/theme/styles/variables";
$color-white: #fff;

:host {
  display: inline-block;
  vertical-align: middle;
}

.cm-checkbox {
  display: none;

  &-label {
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-bottom: 0;
    font-weight: normal;
    min-height: 18px;
    cursor: default;

    &--bold {
      font-weight: bold;
    }

    &:before {
      content: '';
      position: relative;
      left: -8px;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      font-family: $font-family-awesome;
      background-color: $color-white;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px #dae5e5;
      min-width: 18px;

      :host(.is-invalid) &,
      :host-context(.is-invalid) & {
        border-color: $color-red;
        box-shadow: inset 0 1px 2px 0 rgba(216, 99, 92, 0.2);
      }
    }

    input:checked + &:before {
      color: $color-white;
      font-size: 12px;
      letter-spacing: -0.3px;
      text-align: center;
      background-color: $color-blue;
      border-color: $color-blue;
      box-shadow: none;
      content: '\f00c';
    }

    input:disabled + &:before {
      background-color: #f2f2f2;
    }

    input:disabled + &:hover {
      cursor: not-allowed;
    }

    input:disabled:checked + &:before {
      background-color: #bbbbbb;
      border-color: #bbbbbb;
    }
  }
}
