@import "certemy-shared/projects/theme/styles/mixins";

:host {
  width: 100%;
  display: block;
}

.flex-wrapper {
  display: flex;
  align-items: center;

  &:first-child {
    margin-bottom: 10px;
  }
}

.label {
  display: block;
  width: 44px;
  text-align: right;
}

.datepicker {
  flex: 1;
  margin-left: 5px;
}
