@import "certemy-shared/projects/theme/styles/mixins";

:host {
  display: inline-block;
  width: 100%;
}

:host(.is-invalid) {
  .form-control {
    @include is-invalid();
  }
}

:host(.is-editable) {
  .form-control {
    @include is-editable();
    -moz-appearance: none;
    -webkit-appearance: none;

    &::-ms-expand {
      display: none;
    }
  }
}

:host(.active-placeholder) {
  .no-value {
    font-family: var(--baseFont);
    font-weight: lighter;
    color: #495057;
    font-style: normal;
  }
}

.no-value {
  font-style: italic;
  color: $placeholder-color;
}

.dropdown-menu {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 6px;
  width: auto;
  min-width: 100%;
  max-height: 200px;
  overflow: auto;
}

.dropdown-viewport {
  height: 150px;
  .option {
    min-height: 40px;
  }
}

.option {
  padding: 8px 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;

  &:hover,
  &.selected-option {
    background: $active-item-bg-color;
    color: $color-text-primary;
  }
  &.disabled-option {
    color: $color-disabled;
  }
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
