$button-color: #5a87db;

:host {
  display: block;
}

.cropper {
  display: block;
}

.cropper ::ng-deep .cropper-view-box {
  border-radius: 50%;
  border: 2px solid #fff;
  outline: none;
  overflow: hidden;
}

.square-mode ::ng-deep .cropper-view-box {
  border-radius: 0;
}

.button-bar {
  margin: 10px 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 58px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #dfdfdf;
    background-color: #fff;
    color: #444;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:hover, &[disabled] {
      color: $button-color;
      border-color: $button-color;

      .rectangle {
        border-color: $button-color;
      }
    }
  }
}

.fa-square-o {
  font-weight: bold;
}

.fa-circle-o, .fa-square-o {
  font-size: 28px;
  line-height: 38px;
}

.mode-button-container, .rectangle-btn {
  display: flex;
  align-items: center;
}

.rectangle-btn {
  justify-content: center;
}

.rectangle {
  height: 20px;
  display: block;
  width: 35px;
  border: 3px solid #222;
}
