:host {
  display: flex;
  flex-direction: column;
}

:host(.layout-row) {
  flex-direction: row;

  cm-radio:not(:last-child) {
    margin-right: 50px;
  }
}

:host(.layout-column) {
  flex-direction: column;
}
