@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: $breadcrumbs-height;
  font-size: 13px;
}

.breadcrumbs-item {
  color: #999;
  display: flex;
  align-items: center;
  text-decoration: none;

  .home-icon {
    margin-right: -5px;
  }

  &:not(.last) {
    cursor: pointer;
  }

  &:hover:not(.last) {
    color: $color-blue-link-hover;
  }
}

.breadcrumbs-item + .breadcrumbs-item {
  &:before {
    content: '»';
    display: inline-block;
    padding: 0 5px;
    color: #999;
  }
}



