<ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title">{{config.header}}</h4>
  </div>
  <div class="modal-body">
    <p [innerHTML]="config.body"></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default"
            *ngIf="config.secondaryBtn"
            (click)="onAction(config.secondaryBtn.action)">{{config.secondaryBtn.text}}</button>
    <button type="button"
            class="btn btn-primary"
            *ngIf="config.primaryBtn"
            (click)="onAction(config.primaryBtn.action)">{{config.primaryBtn.text}}</button>
  </div>
</ng-template>
