@import "certemy-shared/projects/theme/styles/mixins";

:host {
    display: block;
    position: relative;
}

.cm-link {
    position: absolute;
    top: 7px;
    right: 15px;
}

.form-control {
    padding-right: 50px;
}

:host(.is-invalid) {
  .form-control {
    @include is-invalid();
  }
}
