@import "certemy-shared/projects/theme/styles/mixins";
@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: block;
  width: 100%;
  position: relative;
}

:host(.is-invalid) {
  .form-control {
    @include is-invalid();
  }
}

:host ::ng-deep .dropdown-item {
  white-space: normal;
  &:hover, &.active {
    cursor: pointer;
    background-color: $color-blue;
  }
}

:host ::ng-deep .dropdown-menu {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
