@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: inline-block;
}

.cm-radio {
  display: none;

  &-label {
    position: relative;
    padding-left: 28px;
    margin-bottom: 0;
    font-weight: normal;

    &--bold {
      font-weight: bold;
    }

    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px #dae5e5;

      :host(.is-invalid) &,
      :host-context(.is-invalid) & {
        border-color: $color-red;
        box-shadow: inset 0 1px 2px 0 rgba(216, 99, 92, 0.2);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 4px;
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-blue;
    }

    input:checked + &:after {
      display: block;
    }

    input:disabled + &:before {
      background-color: #f2f2f2;
    }

    input:disabled + &:hover {
      cursor: not-allowed;
    }

    input:disabled:checked + &:after {
      background-color: #bbbbbb;
    }
  }
}
