.screen-lock {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: transparent;

  &.lock {
    display: flex;
  }
}

.loader-progress {
  opacity: 0;
  &.visible {
    opacity: 1;
  }
}

:host {
  display: block;
  position: relative;
  z-index: 2000;
}
