@import "certemy-shared/projects/theme/styles/variables";

.x-lg .modal-dialog {
  max-width: 1100px;
}

.hide {
  display: none;
}

.flex-modal .modal-header {
  display: flex;
  justify-content: flex-start;

  &--hide {
    display: none;
  }
}

.professional {
  .modal-header {
    flex-direction: column;
    border: none;
    padding: 40px 40px 0;
  }

  .modal-title {
    font-family: $font-heading;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: #222;
  }

  .modal-subtitle {
    margin-bottom: 0;
    font-size: 14px;
  }

  .modal-body {
    padding: 28px 40px 40px;
  }
}
