:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    padding: 10px 30px;
    background-color: #f8f8f8;
    position: relative;
}

.pagination {
    width: calc(100% / 3);
}

.pagination-displayed-wrapper {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    font-size: 12px;
    color: #999999;

    .page-size-selector {
        margin-left: 40px;
    }
}

.content {
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
}
