@import 'certemy-shared/projects/theme/styles/variables';

:host {
  display: block;
  position: relative;
  height: 20px;

  ::ng-deep .dropdown-toggle::after,
  ::ng-deep .dropup .dropdown-toggle::after {
    content: none;
  }
}

.nested-dropdown {
  position: relative;
}

.more-option-icon {
  color: #ccc;
  cursor: pointer;
  height: 20px;
  width: 20px;

  &:hover:not(.disabled-option) {
      color: $color-blue;
  }
}

.disabled-option {
  cursor: not-allowed;
}

.dropdown-menu {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 6px;
  min-width: 100%;
}

.option {
  padding: 8px 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    background: $active-item-bg-color;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.option-icon {
  color: #cccccc;
  margin-right: 12px;
  flex-shrink: 0;
}

.option-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.separated-option {
  border-top: 1px solid $border-color;
}
