@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: flex;
  font-family: $font-base;
  font-size: 14px;
}

.tab {
  height: $btn-height;
  padding: 5px 10px;
  border-radius: 3px;
  background: transparent;
  color: $color-blue;
  border: none;

  & + & {
    margin-left: 10px;
  }

  &.active, &:hover {
    background: $color-blue;
    color: #fff;
  }
}
