@import 'certemy-shared/projects/theme/styles/variables';

:host {
    display: flex;
    align-items: center;
    color: $color-text-secondary;
}

.page-size-selector {
    margin-left: 10px;
    height: 28px;
    width: 48px;
}
