@import 'certemy-shared/projects/theme/styles/mixins';

:host {
    display: block;
    width: 200px;
}

.form-control {
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
}

:host(.small) {
    .form-control {
        font-size: 12px;
        height: 28px;
    }

    .input-group-append .btn {
        height: 28px;
        padding: 0 10px;
    }
}

.component-datepicker-month-date {
    width: 100%;
    margin: 0;

    .icon-calendar {
        width: 17px;
        height: 14px;
        cursor: pointer;
    }

    .btn-calendar {
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 18px;
        color: #495057;
        text-align: center;
        background-color: #f7f7f7;
        border: 1px solid #ced4da;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    &.disabled .input-group-append:hover,
    &.disabled .icon-calendar:hover,
    &.disabled .form-control:hover {
        cursor: not-allowed;
    }

    &.disabled input:disabled {
        background: #f2f2f2;
    }
}

:host(.is-invalid),
:host .parse-error {
    .form-control,
    .btn-calendar {
        @include is-invalid();
    }
}

:host ::ng-deep .btn {
    padding: 0.25rem 0.5rem;
}

.form-control[readonly] {
    background-color: #fff;
    cursor: pointer;
}

:host(.is-editable) {
    .form-control {
        border-color: transparent;
        box-shadow: none;

        &::placeholder {
            font-style: italic;
        }
    }

    &:hover .form-control {
        border-color: $form-control-border-color;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .input-group-append {
        opacity: 0;
    }

    &:hover .input-group-append {
        opacity: 1;
    }
}

// Do not add :host
// This styles should be applied globally to overlay modals, which has z-index: 1050 since datepicker dropdown is added
// to the body
::ng-deep ngb-datepicker {
    &.dropdown-menu {
        z-index: 1100;
    }

    .ngb-dp-weekday {
        color: $color-base;
    }
}

::ng-deep .custom-dropdown {
    .custom-select:last-child {
        display: none;
    }
}
