<div class="input-group component-datepicker-month-date" [ngClass]="{'parse-error': parseError, 'disabled': isDisabled}">
  <input class="form-control"
         id="{{id}}"
         readonly
         ngbDatepicker
         #d="ngbDatepicker"
         container="body"
         [placeholder]="placeholder"
         [placement]="['bottom-left', 'top-left']"
         [ngModel]="date"
         [markDisabled]="markDisabled"
         [minDate]="minDateParsed"
         [maxDate]="maxDateParsed"
         (ngModelChange)="onDateChange($event)"
         (click)="toggle($event)">
  <div class="input-group-append">
    <button class="btn btn-calendar" (click)="toggle()" type="button">
      <img class="icon-calendar" src="/assets/images/icon-calendar.svg" />
    </button>
  </div>
</div>
