@import "certemy-shared/projects/theme/styles/variables";
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";

:host {
  display: block;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

quill-editor {
  display: block !important;
}

.ql-snow.ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.toolbar-disabled {
  .ql-snow.ql-toolbar {
      display: none;
  }

  .ql-snow.ql-container {
    &.ql-disabled {
      background: $color-disabled-light;
      border-radius: 5px;
      border-top: 1px solid #ccc;
    }
  }
}

.ql-snow.ql-container {
  background: #fff;
  padding: 6px 12px;
  line-height: 1.5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: inherit;
  font-family: inherit;

  .ql-editor {
    padding: 0;
    min-height: 80px;
  }

  strong {
    font-weight: bold;
  }

  p, ul, ol, li {
    margin-bottom: 0;
    margin-top: 0;
  }

  ul, ol {
    padding-left: 20px;
  }

  ul {
    li {
      line-height: 1.5em;
      position: relative;

      &::before {
        font-size: 22px;
        position: absolute;
      }
    }
  }


  a {
    background: none;
    color: $color-blue;
    border: none;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $color-blue-link-hover;
      text-decoration: none;
    }

    &.disabled {
      color: $color-disabled;
    }
  }

}

.ql-snow .ql-tooltip {
  border-radius: 5px;
  padding: 5px 10px;

  input {
    height: 34px;
    font-size: 14px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: none;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;

    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, .25);
    }
  }

  &::before, &::after {
    flex-basis: 180px;
    margin: 0 10px 0 5px;
    font-family: $font-base;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #222;
  }

  a.ql-action, a.ql-remove {
    height: $btn-height;
    padding: 5px 15px;;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: $font-base;
    font-weight: bold;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;

    &:hover {
      background: transparent;
      border: none;
    }

    &::after {
      margin-left: 0;
      border: none;
    }

  }

}

.ql-font .ql-picker-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 6px;
}

.ql-font span[data-label="arial"]::before, .ql-font-arial {
  font-family: "Arial";
}

.ql-snow .ql-picker.ql-font span[data-value="arial"]::before {
  font-family: "Arial";
  content: 'Arial';
}

.ql-font span[data-label="comic"]::before, .ql-font-comic {
  font-family: "Comic Sans MS";
}

.ql-snow .ql-picker.ql-font span[data-value="comic"]::before {
  font-family: "Comic Sans MS";
  content: 'Comic Sans';
}

.ql-font span[data-label="courier"]::before, .ql-font-courier {
  font-family: "Courier New";
}

.ql-snow .ql-picker.ql-font span[data-value="courier"]::before {
  font-family: "Courier New";
  content: 'Courier New';
}

.ql-font span[data-label="georgia"]::before, .ql-font-georgia {
  font-family: "Georgia";
}

.ql-snow .ql-picker.ql-font span[data-value="georgia"]::before {
  font-family: "Georgia";
  content: 'Georgia';
}

.ql-font span[data-label="helvetica"]::before, .ql-font-helvetica {
  font-family: "Helvetica";
}

.ql-snow .ql-picker.ql-font span[data-value="helvetica"]::before {
  font-family: "Helvetica";
  content: 'Helvetica';
}

.ql-font span[data-label="lucida"]::before, .ql-font-lucida {
  font-family: "Lucida Sans Unicode", "Lucida Grande";
}

.ql-snow .ql-picker.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande";
  content: 'Lucida';
}

.ql-font span[data-label="tahoma"]::before, .ql-font-tahoma {
  font-family: "Tahoma";
}

.ql-snow .ql-picker.ql-font span[data-value="tahoma"]::before {
  font-family: "Tahoma";
  content: 'Tahoma';
}

.ql-font span[data-label="timesnewroman"]::before, .ql-font-timesnewroman {
  font-family: "Times New Roman";
}

.ql-snow .ql-picker.ql-font span[data-value="timesnewroman"]::before {
  font-family: "Times New Roman";
  content: 'Times New Roman';
}

.ql-font span[data-label="trebuchet"]::before, .ql-font-trebuchet {
  font-family: "Trebuchet MS";
}

.ql-snow .ql-picker.ql-font span[data-value="trebuchet"]::before {
  font-family: "Trebuchet MS";
  content: 'Trebuchet MS';
}
