:host {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
  vertical-align: unset;
}

.fix-ie {
  pointer-events: none;
}
