@import "certemy-shared/projects/theme/styles/variables";
@import "./cells/smart-check-cell/smart-check-cell.component.scss";

:host {
  display: flex;
  flex-grow: 1;
  height: 0;
}

.table {
  margin-bottom: 0;
}

.table-striped tbody tr {
  &:nth-of-type(4n-3),
  &:nth-of-type(4n-2) {
    background-color: #f8f8f8;
  }

  &:nth-of-type(4n-1),
  &:nth-of-type(4n) {
    background-color: #ffffff;
  }

  &.table-row-clickable:hover {
    background-color: $active-item-bg-color;
  }
}

.table-striped .row-details {
  padding: 0;
}

tr {
  height: 40px;
  font-family: $font-base;
  font-size: 13px;
  letter-spacing: -0.3px;
  color: $color-text-primary;
}

th {
  font-weight: bold;
}

.th-container{
  display: flex;
  align-items: center;
}
td, th {
  padding: 9px 12px;
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &:first-child, &:first-child {
    padding-left: 30px;
  }
  &:last-child, &:last-child {
    padding-right: 30px;
  }
}

.table td {
  border-top: none;
}

.table th {
  border-top: solid 1px #eeeeee;
  border-bottom: none;
}

.scrollable {
  width: 100%;
  overflow: auto;
}

.no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;

  .title {
    font-family: $font-heading;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: $color-text-secondary;
  }

  .description {
    font-family: $font-base;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: $color-text-primary;
  }

}

.table-row-clickable {
  cursor: pointer;
  &:hover {
    background-color: $active-item-bg-color;
  }
}

.has-errors {
  color: $color-red;
}

.table-col {
  &--clickable {
    cursor: pointer;
  }
  & .fa-sort {
    opacity: .3;
    margin-left: 8px;

    &-asc, &-desc {
      color: #588fdf;
    }
  }
  .fa {
    margin-left: 8px;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.chevron-grey {
  color: $placeholder-color;
}
