@import 'certemy-shared/projects/theme/styles/variables';

.form-field {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-group {
  display: flex;
  width: 500px;
  margin-bottom: 0;
}

.form-label {
  flex-basis: 180px;
  margin: 0 20px 0 0;
  font-family: $font-base;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.3px;
  color: $color-text-primary;
}

.input-with-error {
  display: flex;
  position: relative;
  flex-basis: 300px;

  .invalid-feedback {
    position: absolute;
    bottom: -24px;
    left: 0;

    &.show {
      display: block;
    }
  }

  &.single-checkbox {
    margin-left: auto;
  }
}

textarea.form-control {
  height: 100px;
}

.option-group {
  margin-bottom: 11px;
}
