@import "certemy-shared/projects/theme/styles/variables";

$disabled-color: #b5b3b3;

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 32px;
    border-radius: 100px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    &:hover {
        cursor: pointer;
    }

    &.disabled {
        cursor: not-allowed;

        & .switch-inner {
            background: $disabled-color;

            &:after {
                background: $disabled-color;
            }
        }
    }

    &-inner {
        position: relative;
        width: 52px;
        height: 24px;
        border-radius: 100px;
        background-color: #dddddd;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 0;
            background-image: linear-gradient(to bottom, $color-active-base, $color-base);
            transition: width 0.4s;

            .checked & {
                width: 100%;
            }
        }
    }

    &-toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        transition: transform 0.4s;

        .checked & {
            transform: translate(30px); // 70px - 40px
        }
    }
}
