@import "certemy-shared/projects/theme/styles/variables";
$color-white: #fff;

.cm-checkbox {
  display: none;

  &-label {
    position: relative;
    padding-left: 28px;
    margin-bottom: 0;
    font-weight: normal;
    min-height: 18px;
    cursor: default;

    &--bold {
      font-weight: bold;
    }

    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      font-family: $font-family-awesome;
      background-color: $color-white;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px #dae5e5;
    }

    input:checked + &:before {
      color: $color-white;
      font-size: 12px;
      letter-spacing: -0.3px;
      text-align: center;
      background-color: $color-blue;
      border-color: $color-blue;
      box-shadow: none;
      content: '\f00c';
    }

    input:disabled + &:before {
      background-color: #f2f2f2;
    }

    input:disabled + &:hover {
      cursor: not-allowed;
    }

    input:disabled:checked + &:before {
      background-color: #bbbbbb;
      border-color: #bbbbbb;
    }
  }
}
