@import 'certemy-shared/projects/theme/styles/variables';
@import 'certemy-shared/projects/theme/styles/mixins';

:host {
  display: block;
  width: 100%;
}

:host(.entry-form) {

  .form-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  .form-label {
    flex-basis: initial;
    margin-right: 10px;
    font-weight: normal;
    text-align: right;
    font-size: 16px;
    color: $color-text-secondary;

    &.required:after {
      content: none;
    }
  }

  .input-with-error {
    width: 280px;
    flex-basis: initial;
  }

  .show-errors .input-with-error .invalid-feedback {
    display: none;
  }
}

.form-group {
  display: flex;
  width: 500px;
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-label {
  flex-basis: 180px;
  margin: 0 20px 0 0;
  font-family: $font-base;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.3px;
  color: $color-text-primary;
}

.input-with-error {
  display: flex;
  position: relative;
  flex-basis: 300px;

  .invalid-feedback {
    position: absolute;
    bottom: -24px;
    left: 0;

    .show-errors & {
      display: block;
    }
  }
}

.option-group {
  margin-bottom: 11px;
}
