@import "certemy-shared/projects/theme/styles/variables";

$message-error-bg: rgba(216, 99, 92, 0.9);
$message-error-close-cross-bg: #CC5851;

.side-messages {
  font-family: $font-base;
  position: fixed;
  right: 60px;
  @media screen and (max-width: $break-point-mobile) {
    right: 10%;
  }
  bottom: 20px;
  z-index: 1099;
  .message-added {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: messageAdded;
    -moz-animation-name: messageAdded;
    -o-animation-name: messageAdded;
    animation-name: messageAdded;
  }
  .message-removed {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: messageRemoved;
    -moz-animation-name: messageRemoved;
    -o-animation-name: messageRemoved;
    animation-name: messageRemoved;
  }
  .side-message {
    position: relative;
    margin-top: 4px;
    background: $color-base;
    opacity: 0.9;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    width: 300px;

    @media screen and (max-width: 369px){
      width: 270px;
    }

    &.error {
      background: $message-error-bg;
      .cross-close {
        color: $message-error-close-cross-bg;
      }
    }
  }

  .message-text {
    letter-spacing: -0.3px;
    font-weight: bold;
    padding: 20px 30px;
  }

  .cross-close {
    position: absolute;
    margin: 8px 8px 0 0;
    top: 0;
    right: 0;
    color: $color-active-base;
  }
}

@keyframes messageAdded {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes messageRemoved {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(130%, 0, 0);
  }
}
