:host {
  display: block;
}

:host ::ng-deep {
  .color-picker {
    opacity: 1;

    .arrow {
      display: none;
    }

    .tooltip-inner {
      border-radius: 4px;
      padding: 0;
      background-color: #fff;
      width: 200px;
    }
  }

  color-sketch-fields {
    display: block;
    width: 100%;
  }
}

.color-trigger {
  border: 1px solid #575757;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.color-picker-wrapper {
  position: relative;
}

.close-icon {
  line-height: 0.8;
  position: absolute;
  left: 0;
  padding: 0 2px;
  color: #000;
  cursor: pointer;
  font-size: 11px;
}
