@import "certemy-shared/projects/theme/styles/mixins";

:host {
  display: block;
}

:host ::ng-deep  {
  .btn-outline-primary {
    color: $color-blue;
    border-color: $color-blue;
    padding: 5px 10px;

    &.disabled,
    &:disabled {
      background-color: #f2f2f2;
    }

    &:not(:disabled):not(.disabled):hover {
      color: #ffffff;
      background-color: $color-blue;
    }

    &:not(:disabled):not(.disabled):active {
      background: #5088cc;
    }
  }

  .btn-link {
    color: $color-blue;

    &:disabled,
    &.disabled {
      display: none;
    }
  }
}
