@import "certemy-shared/projects/theme/styles/mixins";

:host {
  display: block;
}

:host(.is-invalid) {
  .form-control {
    @include is-invalid();
  }
}

.dropdown-menu {
  min-width: 100%;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
