<div ngbDropdown autoClose="outside" #dropdown="ngbDropdown">
    <button ngbDropdownAnchor (click)="toggle()" class="btn btn-primary">
        {{title}} <span class="divider">|</span> <span class="fa fa-chevron-down"></span>
    </button>

    <div class="dropdown-menu" ngbDropdownMenu>
        <div class="option" *ngFor="let fileLink of fileLinks">
            <a class="option-link" [title]="fileLink.name" [href]="fileLink.link">{{ fileLink.name }}</a>
        </div>
    </div>
</div>
