@import 'certemy-shared/projects/theme/styles/variables';

:host {
    display: block;

    ::ng-deep .dropdown-toggle::after {
        content: none;
    }
}

.dropdown-menu {
    max-height: 200px;
    overflow: auto;
    width: 100%;
}

.option {
    padding: 8px 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: $active-item-bg-color;
        color: $color-text-primary;
    }
}

.option-link {
    color: $color-text-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }
}

.divider {
    margin-left: 5px;
}

.fa-chevron-down {
    color: #ffffff;
    font-size: 14px;
    margin: 0 0 0 10px;
}
