$aside-width: 320px;

:host {
  display: block;
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  height: 100%;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  transition-property: transform;

  .wrapper__main {
    height: 100vh;
    overflow-y: auto;
  }

  &--pushed {
    transform: translate(-$aside-width);

    .wrapper__main {
      overflow-y: hidden;
    }
  }

  &__aside {
    position: absolute;
    top: 0;
    right: -$aside-width;
    width: $aside-width;
    height: 100%;
    background: white;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }
}

