@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: block;
}

:host(.nav-tabs) {
  border: none;
}

.nav-tabs {
  display: flex;
  border: none;

  .nav-tab {
    display: block;
    height: 39px;
    padding: 10px 40px;
    margin: 0;
    border: none;
    border-bottom: solid 3px #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bbb;

    &.active, &:hover {
      border-color: $color-blue;
      background: transparent;
      color: $color-text-primary;
      text-decoration: none;
    }

    &.disabled {
      pointer-events: none;
    }
  }

}
