@import 'certemy-shared/projects/theme/styles/variables';

:host {
  display: block;
}

.filter-label {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  height: 22px;
  padding: 0 24px 0 10px;
  cursor: pointer;
  background: #f8f8f8;
  border-radius: 20px;
  margin: 0 4px 4px 0;

  font-size: 10px;
  color: $color-text-secondary;

  &:hover {
    background: #ddd;
  }

  &:after {
    height: 100%;
    display: flex;
    align-items: center;
    top: -1px;
    right: 7px;
    content: "×";
    opacity: 0.2;
    position: absolute;
    font-size: 17px;
    speak: none;
  }
}
