@import 'certemy-shared/projects/theme/styles/variables';

:host {
    display: block;

  .lds-roller {
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
    top: 50%;

    div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;

      &:after {
        content: ' ';
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $color-active-base;
        margin: -4px 0 0 -4px;
      }

      &:nth-child(1) {
        animation-delay: -0.036s;
        &:after {
          top: 63px;
          left: 63px;
        }
      }

      &:nth-child(2) {
        animation-delay: -0.072s;
        &:after {
          top: 68px;
          left: 56px;
        }
      }

      &:nth-child(3) {
        animation-delay: -0.108s;
        &:after {
          top: 71px;
          left: 48px;
        }
      }

      &:nth-child(4) {
        animation-delay: -0.144s;
        &:after {
          top: 72px;
          left: 40px;
        }
      }

      &:nth-child(5) {
        animation-delay: -0.18s;
        &:after {
          top: 71px;
          left: 32px;
        }
      }

      &:nth-child(6) {
        animation-delay: -0.216s;
        &:after {
          top: 68px;
          left: 24px;
        }
      }

      &:nth-child(7) {
        animation-delay: -0.252s;
        &:after {
          top: 63px;
          left: 17px;
        }
      }
      &:nth-child(8) {
        animation-delay: -0.288s;
        &:after {
          top: 56px;
          left: 12px;
        }
      }
    }
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.content {
    display: flex;
    justify-content: center;
}

.preview-image-section {
    overflow-y: scroll;
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);

  &-original {
    height: fit-content;
  }

  .image-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    right: 60px;
    top: 40px;
    font-size: 25px;
    width: 40px;
    outline: none;
  }

  .preview-image-wrapper {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }

  .preview-image {
    max-width: 100%;

    &-full {
      max-height: 50vh;
    }
  }
}

.preview-doc {
    width: 100%;
    height: 50vh;
}
