@import "certemy-shared/projects/theme/styles/mixins";

:host {
  display: inline-block;
  width: 100%;
}

:host(.is-invalid) {
  .form-control {
    @include is-invalid();
  }
}

:host(.is-editable) {
  .form-control {
    @include is-editable();

    &::placeholder {
      font-style: italic;
    }
  }
}
