@import "certemy-shared/projects/theme/styles/variables";
@import "certemy-shared/projects/theme/styles/mixins";

:host {
  display: block;
}

.error-message {
  color: $color-red;
  font-size: 12px;
  margin-top: 6px;
}

.chips {
  margin-top: 10px;
}

.chips-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid $form-control-border-color;

  &.is-invalid {
    @include is-invalid();
  }

  &.disabled {
    background-color: #f2f2f2;
  }

  ::ng-deep .chip {
    margin: 4px;
  }

  ::ng-deep .form-control {
    border: none;
    box-shadow: none;
  }

  .chip-input {
    width: 150px;
    display: flex;
    flex-grow: 1;
  }
}
