@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 55px;
  height: 55px;
  padding: 0 15px;
  border-bottom: 1px solid $border-color;
}

.header {
  display: flex;
  align-items: center;

  &__text {
    margin: 0;
    font-family: $font-heading;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: $color-text-primary;
  }

  &__link {
    padding: 10px;
    margin-right: 5px;
    color: #169BD5;

    &:hover {
      text-decoration: none;
    }
  }

  &__aside {
    margin-left: auto;
  }
}

.subtext {
  margin: 5px 0 0;
  font-family: $font-base;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #999999;
}
