@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;

  ::ng-deep strong {
    font-weight: bold;
  }

  ::ng-deep p,  ::ng-deep ul, ::ng-deep ol, ::ng-deep li {
    margin-top: 0;
    margin-bottom: 0;
  }

  ::ng-deep p:empty {
    height: 1.5rem;
  }

  ::ng-deep a {
    background: none;
    color: $color-blue;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: $color-blue-link-hover;
      text-decoration: underline;
    }

    &.disabled {
      color: $color-disabled;
    }
  }
}


