@import "certemy-shared/projects/theme/styles/variables";

:host {
  display: block;

  ::ng-deep .dropdown-menu {
    width: 100%;
  }
}

.select-search-control {
  width: 100%;
}

.search-control {
  padding: 10px 20px;
  border-bottom: 1px solid $border-color;
  margin-top: -9px;
}

.empty-list {
  padding: 10px 30px;
  text-align: center;
  color: $color-text-secondary;
  font-size: 14px;
}

.option-list {
  font-size: 14px;
  max-height: 180px;
  overflow: auto;
  padding: 0;
  margin-bottom: -8px;
}

.option {
  padding: 6px 20px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
      cursor: pointer;
      background: $active-item-bg-color;
  }
}

.option-active {
  background: $active-item-bg-color;
}
