@import "certemy-shared/projects/theme/styles/variables";

:host {
    display: flex;
    position: relative;
}

.search-input {
    font-family: $font-family-noto;
    font-size: 13px;
    letter-spacing: -0.3px;
    color: $color-text-primary;
    height: 32px;
    border-radius: 22px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #dddddd;
    background: url('/assets/images/icon-search.svg') #ffffff 10px no-repeat;
    width: 100%;
    padding: 4px 34px;
    margin-left: 10px;
    outline: none;
    position: relative;
    z-index: 0;

    @media (min-width: $break-point-mobile) {
        height: 32px;
    }
    &-button {
        display: block;
        text-transform: uppercase;
        min-width: 72px;
        height: 32px;
        border-radius: 70px;
        background-color: #ffffff;
        border: solid 1px #cecece;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -0.3px;
        color: #4f8bd3;
        outline: none;
        word-wrap: normal;

        @media (min-width: $break-point-mobile) {
            display: none;
        }
    }

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #aaaaaa;
    }
}
