@import 'certemy-shared/projects/theme/styles/variables';

.files-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.file {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $color-text-primary;
  align-items: flex-start;

  &-info {
    display: flex;
    width: calc(100% - 65px);
    justify-content: flex-start;
    font-size: 14px;

    @media screen and (max-width: $break-point-mobile) {
      flex-direction: column;
      margin-bottom: 8px;
    }

    .compact & {
      flex-direction: column;
      margin-bottom: 8px;
    }
  }

  &-name {
    display: block;
    width: 200px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .warning & {
      color: $color-red;
    }

    @media screen and (max-width: $break-point-mobile) {
      width: 100%;
      margin: 0;
    }

    .compact & {
      width: 100%;
      margin: 0;
    }
  }

  &-size {
    display: block;
    width: calc(100% - 210px);
    color: $color-text-secondary;

    .warning & {
      color: $color-red;
    }

    @media screen and (max-width: $break-point-mobile) {
      width: 100%;
    }

    .compact & {
      width: 100%;
      margin: 0;
    }
  }
}
