<h2>Modal</h2>
<p>input data: {{data | json}}</p>
<button class="btn btn-default" (click)="onCancel()">cancel</button>
<button class="btn btn-primary" (click)="onClose({data: 'data from calee'})">ok</button>
