<div class="btn-group">
  <button type="button" class="btn btn-primary" (click)="actionClick.emit(primaryAction.name)">
    {{primaryAction.label}}
  </button>

  <div class="btn-group" ngbDropdown [placement]="['bottom-right', 'auto']" role="group"
       aria-label="Button group with nested dropdown">
    <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button *ngFor="let action of secondaryActions" class="dropdown-item" (click)="actionClick.emit(action.name)">
        {{action.label}}
      </button>
    </div>
  </div>
</div>
