@import "certemy-shared/projects/theme/styles/variables";

.btn {
  height: $btn-height;
  padding: $btn-padding;
  text-transform: uppercase;
  font-size: 13px;
  font-family: $font-base;
  font-weight: bold;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

  &.btn-primary {
    color: #ffffff;
    background-image: linear-gradient(to bottom, #548fd7, #4a86cf);
    border: solid 1px #3d78bf;

    &:hover {
      background: linear-gradient(0deg, #5a94db, #649de3);
    }

    &:focus {
      background: #5088cc;
    }
  }

  &.full-width {
    width: 100%;
  }

  &.btn-default {
    border: none;
    color: #4f8bd3;
    background: transparent;
    font-weight: bold;

    &:hover {
      color: $color-blue-link-hover;
      background: transparent;
      border: none;
      text-decoration: none;
    }
  }

  &.sm-padding {
    padding: $btn-padding-sm;
  }
}

.cm-link {
  font-family: $font-base;
  font-size: 14px;
  color: $color-blue;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: $color-blue-link-hover;
    text-decoration: underline;
  }

  &.disabled {
    color: $color-disabled;
  }

  &.cm-link-secondary {
    color: $color-text-primary;

    &:hover {
      color: $color-blue-link-hover;
    }
  }
}
