@import "variables";
@import "modal";
@import "layout";
@import "buttons";

.required:after {
  margin-left: 4px;
  content: '*';
  color: $color-red;
}

.tooltip-inner {
  background: #222;
  padding: 14px 20px 16px 20px;
  font-family: $font-base;
}

select.form-control:not([size]):not([multiple]) {
  height: 34px;
}

.form-control, .form-select {
  height: 34px;
  font-size: 14px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: none;

  &:disabled {
    background-color: #f2f2f2;
  }
}

.bold {
  font-weight: bold;
}

ngb-typeahead-window.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  &.active,
  &:active {
    background: #5088cc;
  }
}
