@import "./variables";

@mixin page-card() {
  display: flex;
  max-width: 1200px;
  height: calc(100vh - 30px - #{$header-height}); // 30px - margins from top and bottom
  margin: 15px auto 0;
}

@mixin is-invalid {
  border-color: #dc3545;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
  }
}

@mixin is-editable {
  border-color: transparent;
  box-shadow: none;

  &:hover, &:focus {
    border-color: $form-control-border-color;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
}
