$color-gray: #fafafa;

.x-lg .modal-dialog {
  max-width: 1100px;
}

.x-m .modal-dialog {
  max-width: 700px;
}

.modal-content {
  border-radius: 10px;

  .modal {

    &-header {
      padding: 40px 40px 0 40px;
      border-bottom: none;

      .modal-title {
        font-family: $font-heading;
        font-size: 25px;
        font-weight: bold;
      }

    }

    &-body {
      padding: 30px 40px;
    }

    &-footer {
      height: 60px;
      padding: 12px 30px;
      background-color: $color-gray;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      &>:not(:last-child) {
        margin-right: 0;
      }
      &>:not(:first-child) {
        margin-left: 0;
      }
      &>.btn:not(:last-child) {
        margin-right: 5px;
      }
      &>.btn:not(:first-child) {
        margin-left: 5px;
      }

      .footer-hint {
        margin-right: auto;
      }

      .footer-controls {
        &>:not(:last-child) {
          margin-right: 5px;
        }
        &>:not(:first-child) {
          margin-left: 5px;
        }
      }

      @media screen and (max-width: $break-point-mobile) {
        flex-wrap: wrap;
        height: auto;

        .btn {
          width: 100%;
        }

        &>.btn:not(:last-child) {
          margin-right: 0;
          margin-bottom: 5px;
        }
        &>.btn:not(:first-child) {
          margin-left: 0;
          margin-top: 0;
        }
      }
    }

  }

  .btn {
    padding: 8px 26px;
    border-radius: 3px;
  }

  .cm-link {
    text-decoration: none;
    background-color: transparent;
  }

}
