:root {
  --baseFont: 'Noto Sans', sans-serif;
  --headingFont: 'Merriweather', serif;
  --baseColor: #5cd1d8;
  --baseHoverColor: #4ec6cc;
  --baseActiveColor: #39b9bf;
  --menuBase: #003033;
  --menuButton: #014c50;
  --menuButtonHover: #027c82;
}

$font-base:var(--baseFont);
$font-heading:var(--headingFont);

$color-base: var(--baseColor);
$color-hover-base: var(--baseHoverColor);
$color-active-base: var(--baseActiveColor);
$color-menu-base: var(--menuBase);
$color-menu-button: var(--menuButton);
$color-menu-button-hover: var(--menuButtonHover);

$font-family-noto: 'Noto Sans', sans-serif;
$font-family-merriweather: 'Merriweather', serif;
$font-family-awesome: FontAwesome;

/* colors */
$color-light-blue: #5cd1d8;
$color-blue: #588fdf;
$color-green: #50da9d;
$color-red: #d8635c;
$color-orange: #ff8533;
$color-dark-blue: #3179a3;
$color-disabled: #aaa;
$color-disabled-light: #e9ecef;
$color-blue-link-hover: #75acf0;

$color-text-primary: #222;
$color-text-secondary: #777;

$placeholder-color: #aaa;

$border-color: #eee;
$form-control-border-color: #ced4da;

$break-point-mobile: 700px;
$break-point-tablet: 900px;
$break-point-desktop: 1200px;

$header-height: 70px;
$breadcrumbs-height: 40px;

$btn-height: 34px;
$btn-padding: 5px 25px;
$btn-padding-sm: 5px 10px;

$active-item-bg-color: rgba(83, 142, 214, 0.05);
