/* You can add global styles to this file, and also import other style files */
@import "certemy-shared/projects/theme/styles/global";
@import "certemy-shared/projects/theme/styles/fonts";

body {
  margin: 0;
  font-family: $font-base;
}
