@import "certemy-shared/projects/theme/styles/variables";

.progress {
  position: fixed;
  width: 100%;
  background-color: transparent;
  border-radius: 0;
}
.progress-bar {
  background-color: $color-active-base;
}
