@import "certemy-shared/projects/theme/styles/variables";


:host {
  display: flex;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.btn-toggle:after {
  content: none;
}

.action:not(:last-child) {
    margin-right: 10px;
}
