.checkbox-group {
  display: flex;
  flex-direction: column;
}

:host(.layout-row) {
  .checkbox-group {
    flex-direction: row;
  }

  cm-checkbox:not(:last-child) {
    margin-right: 50px;
  }
}

:host(.layout-column) {
  .checkbox-group {
    flex-direction: column;
  }
}
