@import 'certemy-shared/projects/theme/styles/variables';

$close-icon-size: 24px;

::ng-deep .popover {
  display: block;
  min-width: 370px;
  border: none;

  &-header {
    border: none;
  }
}

:host {
  display: block;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: $font-base;
  letter-spacing: -0.3px;
}

.header {
  color: #fff;
  background-color: $color-base;
  padding: 12px 15px 9px 15px;
  display: flex;
  justify-content: space-between;

  &__title {
    margin-right: 20px;
  }
  &__close {
    color: $color-hover-base;
    width: $close-icon-size;
    height: $close-icon-size;
    position: relative;
    z-index: 0;
    cursor: pointer;

    &:before {
      width: 15px;
      height: 15px;
      display: block;
      background: #FFFFFF;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 50%;
      content: "";
      z-index: -1;
    }

    &:hover {
      color: $color-red;
    }
  }
}

.body {
  padding: 16px;
  max-height: 400px;
  overflow-y: auto;
}
