@import 'certemy-shared/projects/theme/styles/variables';

$hover-color: #d4d4ff;

:host {
  display: block;
  font-size: 14px;
  font-family: $font-base;
  height: 100%;
}

.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 80px;
  border-radius: 3px;
  background-color: #fafafa;
  border: 2px dashed #eeeeee;

  &__text {
    color: $color-text-secondary;
    display: flex;
    align-items: center;
  }

  &__text:before {
    content: "";
    display: inline-block;
    min-height: 80px;
    visibility: hidden;
  }

  .upload-icon {
    width: 34px;
    height: 34px;
    color: #cdcdcd;
    margin-right: 10px;
  }

  &__browse {
    font-weight: normal;
    color: #5a91db;
    margin: 0 0 0 6px;
  }

  &__browse_hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &.drop-hover {
    border-color: $hover-color;

    .upload-icon {
      color: $hover-color;
    }
  }
}
