@import "certemy-shared/projects/theme/styles/variables";
@import "certemy-shared/projects/theme/styles/mixins";

:host {
  display: block;
}

:host ::ng-deep .cm-checkbox-label {
  width: 100%;
  height: 100%;
}

:host(.is-invalid) {
  .form-control {
    @include is-invalid();
  }

  .checkbox ::ng-deep .cm-checkbox-label:before {
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-color: #dae5e5;
  }
}

.dropdown-menu {
  min-width: 100%;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &.show-values {
    min-height: 34px;
    height: auto;
  }

  &.only-placeholder {
    font-style: italic;
    color: #aaa;
  }
}

.checkbox-group {
  max-height: 210px;
  overflow-y: auto;
}

.checkbox {
  display: flex;
  align-items: center;
  min-height: 34px;
  height: auto;
  margin: 8px;
  cursor: pointer;

  &:hover {
    background-color: $active-item-bg-color;
  }
}

.setting-option {
  font-size: 13px;
  height: 34px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
}

.select-all-option {
  color: $color-blue;
  cursor: pointer;
  text-decoration: none;

  &:not(.disabled):hover {
    color: $color-blue-link-hover;
  }

  &.disabled {
    cursor: default;
    opacity: 0.6;
  }
}

.chips-wrapper {
  margin-top: 10px;
}

.detailed-options-wrapper {
  width: 100%;
  display: flex;
}

.detailed-options {
  font-size: 14px;
  margin-right: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailed-options-header {
  color: $color-text-secondary;
  font-weight: bold;
  margin-left: 25px;
}

.search-input {
  padding: 2px 20px 10px;
  border-bottom: 1px solid $border-color;
}

.title {
  margin: 20px 0 3px;
  font-family: $font-family-merriweather;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #777777;
}

.sub-title {
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #777777;
}

.no-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
